.header__container {
    background-color: #9adaca;
    font-size: 16px;
    padding: 15px;
    font-family: 'Contrail One';
}

.navBar__menu {
    display: flex;
    align-items: center;
}

.navBar__mobileMenu {
    display: block;
}

.navBar__menuItem {
    color: #565656;
}

.navBar__menuItem:not(:last-child):not(.navBar__title) {
    margin-right: 10px;
}

.navBar__menuItem:not(.navBar__mobileMenu),
.navBar__menuItem:not(.navBar__title) {
    display: none;
}

.navBar__title {
    font-size: 26px;
    color: #565656;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 1px #fff;
}

.navBar__menuItem a {
    color: #1c5f4e;
    text-decoration: none;
}

.navBar__menuItem a:hover {
    color: #1c5f4e;
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .header__container {
        padding: 15px 30px;
    }

    .navBar__mobileMenu {
        display: none;
    }

    .navBar__menuItem:not(.navBar__mobileMenu) {
        display: flex;
    }
}

@media screen and (min-width: 1024px) {
    .header__container {
        padding: 15px 50px;
    }
}