@import url('https://fonts.googleapis.com/css?family=Contrail+One');

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b5efe0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3 {
  font-family: 'Contrail One';
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

hr {
  border: 1px dashed #ccc;
  margin-top: 15px;
  margin-bottom: 15px;
}

a {
  color: #1c5f4e;
}

a:hover {
  color: #565656;
}

button {
  padding: 5px;
  border-radius: 4px;
  background-color: #ffffff;
  border: #ccc solid 1px;
}

button:hover {
  cursor: pointer;
}

.contentContainer {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}

.contentBox {
  display: block;
  margin: 10px;
  padding: 15px;
  box-shadow: 3px 3px #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #444;
  height: fit-content;
  width: 100%;
}

.sectionWrapper {
  background-color: #fff;
  padding: 30px 15px 40px 15px;
}

@media (min-width: 768px){
  .sectionWrapper {
    padding: 30px 25px 40px 25px;
  }
}

@media (min-width: 1024px){
  .sectionWrapper {
    padding: 30px 15% 40px 15%;
  }

  .contentContainer {
    padding: 10px 20px;
  }
}