.sideBar {
    display: none;
}

@media (min-width: 768px) {
    .sideBar {
        display: flex;
        flex-wrap: wrap;
        width: 35%;
    }

    .sideBar__header {
        margin-bottom: 10px;
    }
}