@import 'variables';

.tweet__container {
    display: flex;
    height: 80px;
    font-size: 14px;
    width: 100%;
}

.tweet__contentContainer {
    background-color: $lightestGray;
    display: block;
    padding: 5px 10px;
    width: calc(100% - 60px);
    margin-left: 10px;
}

.tweet__input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    resize: none;
    width: 100%;
}

.tweet__input:focus {
    outline: #ddd auto 5px;
}

.tweet__button {
    display: flex;
    margin-left: auto;
    border: 1px transparent solid;
    background-color: #545454;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.tweet__authorPic {
    border-radius: 25%;
    height: 50px;
    width: 50px;
    background-color: #ccc;
}

.tweet__authorName {
    font-size: 16px;
    font-family: $highlightFont;
    color: $darkGreen;
}

.tweet__text {

}