@import url('https://fonts.googleapis.com/css?family=Contrail+One');

// Fonts

$highlightFont: 'Contrail One';
$mainFont: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;

// Colors


$darkGreen: #1d5e4e;
$lightestGreen: #b5efe0;

$darkGray: #545454;
$lightGray: #ccc;
$lightestGray: #f6f6f6;